# Chaves e Variáveis de Ambiente
.env

# Arquivos de Log e Cache
logs/
*.log
__pycache__/
*.pyc
.pytest_cache/

# Diretórios de Dados (Protegendo a base de clientes e simulações)
data/*.csv

# Ambientes Virtuais Python
venv/
env/
.venv/

# Scripts de Teste Locais
casos_teste.py